.surface-0 {
    -fx-background-color:  #1a1b26;
}

.button {
    -fx-background-color: #7aa2f7;
}

.label{
    color: #fff;
}

.table-view {
    -fx-background-color: #7aa2f7;
    -fx-text-fill: #fff;
}